<div id="tabs-2" class="container">
    <div class="twelve columns">
        <h2 class="lineglowslow">SELECT</h2>
    </div>

    <!--<div class="twelve columns">
                                    <h4 class="six columns">Nr. of Layouts: </h4>
                                    <h5 class="fivecolumns" > 
                                        <script>
                                            count_layouts = pdata["layouts"].length;
                                            document.write(count_layouts );
                                        </script>
                                    </h5>
                                </div>
                                <div class="twelve columns">
                                    <h4 class="six columns">Nr. of Nodes: </h4>
                                    <h5 class="fivecolumns"> 
                                    <div>{{names}}</div> 
                                    </h5>

                                </div> -->


    <!-- DROPDOWNS FOR LAYOUT SWITCH WITHOUT MORPHING  -->
    <div class="twelve columns">
        <h4 class="four columns">NODE POS</h4>
        <div class="eight columns">
            <div class="cornerBox">
                <select id='layouts'></select>
                <script>
                    initDropdown('layouts', pdata["layouts"], pdata["layouts"][0]);
                </script>
            </div>
        </div>
    </div>

    <div class="twelve columns">
        <h4 class="four columns">NODE COL</h4>
        <div class="eight columns">
            <div class="cornerBox">
                <select id='nodecolors'></select>
                <script>
                    initDropdown('nodecolors', pdata["layoutsRGB"], pdata["layoutsRGB"][0]);
                </script>
            </div>
        </div>
    </div>
    <div class="twelve columns">
        <h4 class="four columns">LINKS</h4>
        <div class="eight columns">
            <div class="cornerBox">
                <select id='links'></select>
                <script>
                    initDropdown('links', pdata["links"], pdata["links"][0]);
                </script>
            </div>
        </div>
    </div>

    <div class="twelve columns">
        <h4 class="four columns">LINK COL</h4>
        <div class="eight columns">
            <div class="cornerBox">
                <select id='linkcolors'></select>
                <script>
                    initDropdown('linkcolors', pdata["linksRGB"], pdata["linksRGB"][0]);
                </script>
            </div>
        </div>
    </div>

</div>