<div id="tabs-1" class="container">
    <div class="twelve columns" style="background-color:rgba(0,0,0,0.65);">
        <h2 class="lineglowslow"style="margin-bottom:20px;margin-top:20px">Project</h2>
        <div id="ptabs" class="disable-select">
            <script>   // MULTICAST TAB CHANGES 
                $(function() {
                    $("#ptabs").tabs();
                });
                var last_ptab_active = 0;
                $('#ptabs').on('click', function(event, ui) {
                    var ptab_active = $('#ptabs').tabs('option', 'active');
                    if (ptab_active != last_ptab_active) {
                        console.log("changed ptab to " + ptab_active);
                        last_ptab_active = ptab_active;
                        socket.emit('ex', { msg: ptab_active, id: "ptabs", fn: "cht" });
                    }
                });
            </script>
            <ul>
                <script>
                    for (var i = 0; i < sessiondata["proj"].length; i += 10) {
                        var idx = (i / 10).toString()
                        var code = `<li><a href="#ptabs` + idx + `"><img draggable="false" onmousedown="return false" height='40' width='40'
                            src="{{ url_for('static', filename='img/active_open.png') }}" />`+ ((i/10)+1).toString() + `</a></li>`;
                        document.write(code);
                    };
                </script>
            </ul>

            <div class="twelve columns">
                    <!--<div id="projects-section" class="five columns">
                            <h3 class="lineglowslow" style="background-size: contain;"><span>PROJECT</span></h3>
                        </div>
                        <div class="seven columns">-->
                    <script>
                        for (var i = 0; i < sessiondata["proj"].length; i += 10) {
                            var idx = (i / 10).toString()
                            var code = `
                            <div id="ptabs`+ idx + `" class="container"style="margin-left:-40px;">
                                <div class="cornerBox">
                                    <select id='projects`+ idx + `''></select>
                                </div>
                            </div>
                            `;
                            document.write(code);
                            initProjectDropdown('projects' + idx, sessiondata["proj"].slice(i, i + 10), sessiondata["actPro"]);
                        };
                    </script>
                </div>
            </div>
    </div>
<!--
            <div class="twelve columns">
                <h3 class="seven columns">Nr. of Layouts : : </h3>
                <div class="four columns">
                    <h3>
                        <script>
                            counter_layouts = pdata["layouts"].length;
                            document.write(counter_layouts);
                            console.log(counter_layouts);
                        </script>
                    </h3>
                </div>
            </div>

            <br></br>
            -->
<!-- ADD NETWORK LAYOUT SELECTED TO SHOW UP IN UI ??
                                <div class="twelve columns">
                                    <div class="frameBox">
                                        <div class="five columns">
                                            <h3>NETWORK MAP</h3> 
                                        </div>
                                        <div class="seven columns">
                                            <h3>{{pdata}}</h3> 
                                        </div>
                                    </div>
                                </div> 
                                -->

<div class="twelve columns" hidden="true">
    <div class="slideTwo">
        <input type="checkbox" value="true" id="chbXYZ" name="check" checked></checkbox>
        <script>
            initCheckbox("chbXYZ");
        </script>
    </div>
</div>


<div class="twelve columns" hidden="true">
    <div class="slideTwo">
        <input type="checkbox" value="true" id="chbNrgb" name="check" checked></checkbox>
        <script>
            initCheckbox("chbNrgb");
        </script>
    </div>
</div>

<script>
    if (pdata.network == "string") {
        deactiveLinkLayouts()
    } else {
        activateLinkLayouts()
    }
</script>



<!--<div class="twelve columns">-->
<div class="frameBox" style="display:inline-block; margin-top:6px; margin-bottom:6px;">

    <h5 style="text-align:end"> Visual Settings </h5>

    <div class="twelve columns">

        <h6 class="border">NODE SIZE</h6>
        <div id="slider-node_size"></div>
        <h6 class="border">LINK SIZE</h6>
        <div id="slider-link_size"></div>
        <h6 class="border">LINK OPACITY</h6>
        <div id="slider-link_transparency"></div>
        <h6 class="border">LABEL SIZE</h6>
        <div id="slider-label_scale"></div>
        <script>
            initSlider('slider_scale');
            initSlider('slider-node_size');
            initSlider('slider-link_size');
            initSlider('slider-link_transparency');
            initSlider('slider-label_scale');
        </script>
    </div>
</div>
<div class="frameBox" style="display:inline-block; margin-top:6px; margin-bottom:6px;">

    <h5 style="text-align:end; margin-bottom:5px;"> Layout Morphing </h5>

    <div class="four columns">
        <input type="button" id='backwardstep' class="swagBackwardButton"></button>
        <script>
            initButton('backwardstep');
        </script>
    </div>

    <div class="four columns">
        <input type="button" id='forwardstep' class="swagForwardButton"></button>
        <script>
            initButton('forwardstep');
        </script>
    </div>

    <div class="four columns">
        <input type="button" value="RESET" id='reset' class="swagTextButton"></button>
        <script>
            initButton('reset');
        </script>
    </div>

</div>


</div>