
<!-- Structural Information -->

<div>   
    <h4>Structural Information</h4>
    <div class="frameBox" style="display:inline-block; margin-top:6px; margin-bottom:6px;">
        <div class="twelve columns">
            <input type="button" value="3D Model" id='proteinButton' class="swagTextButton">
        </div>
        <!-- <script> -->
        <p>TODO: ADD Script to show/hide model.</p>

        <!-- </script> -->
    </div>
</div>  

<!-- Protein Structure Dropdown -->

<div>
    <h4 style="margin-top:50px; margin-bottom:25px">PROTEIN STRUCTURES</h4>
    <div class="cornerBox">
        <select id='structure'></select>
        <script>
            function initDropdown (id, data, active){

                $('#'+ id).selectmenu();

                for (let i = 0; i < data.length; i++) {
                $('#'+ id).append(new Option(data[i]));
                }
                $('#'+ id).val(active);
                $('#'+ id).selectmenu("refresh");

                $('#'+ id).on('selectmenuselect', function () {
                var name =  $('#'+ id).find(':selected').text();

                ue4("prot", {id:name});
                //console.log($('#structure').val());
                });

            };
            initDropdown('structure', node_data.uniprot,sessiondata["actStruc"]);
        </script>
    </div>
</div>