**/__pycache__**/
**/*.DS_Store
.venv
**/*.code-workspace
**/**.vscode/
**/**.code-workspace


flask_session/
venv/
c_vrnetzer_env/
NewMaps/
Electrostatic_Surface_MAPS/
**/*.DS_Store
static/csv/overview.csv
