**/__pycache__**/
**/*.DS_Store
.venv
**/*.code-workspace
**/**.vscode/
**/**.code-workspace


flask_session/
venv/
c_vrnetzer_env/
MAPS/
NewMaps/
Electrostatic_Surface_MAPS/
**/*.DS_Store
.venv
templates/home.html
templates/main.html
templates/NavBar.html
templates/upload.html
templates/new_nodepanelppi.html