**/__pycache__**/
**/*.DS_Store
.venv
**/*.code-workspace
**/**.vscode/
**/**.code-workspace


flask_session/
venv/
c_vrnetzer_env/
MAPS/
NewMaps/
Electrostatic_Surface_MAPS/
**/*.DS_Store
.venv

/static/templates/home.html
/static/templates/main.html
/static/templates/NavBar.html
/static/templates/upload.html 