ul.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
li.navbar{
    display: inline;
}
.navbar-triangle {
    visibility: hidden;
}
.navbar-dropdown-menu-active.ui-button{
  background:rgb(42, 113, 148);
}
.navbar-dropdown-menu-button-closed{
  max-width: fit-content;
}
.navbar-dropdown-menu-button-open{
  max-width: fit-content;
}
.navbar-dropdown-text{
  font-size: 25px;
  font-family: Arial;
  text-decoration: none;
}