

@font-face { font-family: Future; src: url('Roboto-Light.ttf'); } 
@font-face { font-family: Square; src: url('square_sans_serif_7.ttf'); } 
@font-face { font-family: Venus; src: url('venus.ttf'); } 
@font-face { font-family: Modular; src: url('Modular Amplitude.otf'); } 

@font-face { font-family: Akshar-lig; src: url('fonts/Akshar-Light.ttf'); } 
@font-face { font-family: Akshar-reg; src: url('fonts/Akshar-Regular.ttf'); }
@font-face { font-family: Akshar-med; src: url('fonts/Akshar-Medium.ttf'); } 
@font-face { font-family: Akshar-semi; src: url('fonts/Akshar-SemiBold.ttf'); }

@font-face { font-family: ExtBack; src: url('fonts/ExtrosBackstage.ttf'); } 

@font-face { font-family: Bal-ligital; src: url('fonts/BaiJamjuree-LightItalic.ttf'); } 
@font-face { font-family: Bal-lig; src: url('fonts/BaiJamjuree-Light.ttf'); } 
@font-face { font-family: Bal-boldital; src: url('fonts/BaiJamjuree-BoldItalic.ttf'); }
@font-face { font-family: Bal-semi; src: url('fonts/BaiJamjuree-Semibold.ttf'); }
@font-face { font-family: Bal-med; src: url('fonts/BaiJamjuree-Medium.ttf'); }

@font-face { font-family: Michr; src: url('fonts/Michroma-Regular.ttf'); } 

@font-face { font-family: Jura; src: url('fonts/Jura-Regular.ttf'); } 


/* ######################################################
#########################################################
                  F O N T S
#########################################################
#######################################################*/
h1 {
  /*font-family: 'Square', sans-serif;*/
  font-family: 'Michr', sans-serif;
  font-size: 50px;
  padding:0%;
  margin: left 20px;
  line-height:2rem;
}
h2 {
  /*font-family: 'Future', sans-serif;*/
  font-family: 'Michr', sans-serif;
  font-size: 40px;
  padding:0%;
  margin:0%;
  line-height:1.6rem;
}
h3 {
  /*font-family: 'Modular', sans-serif;*/
  font-family: 'Michr'; /*'Akshar-reg', sans-serif;*/
  font-size: 22px;
  color:#ffffff; /*202020;*/
  font-weight: lighter;
}
h3 span {
  padding:0 18px;
  font-size: 22px;
  color:#ffffffcc; 
}
h4 {
  /*font-family: 'Venus', sans-serif;*/
  font-family: 'Michr', sans-serif;  /*'Akshar-reg', sans-serif; */
  font-size: 16px;
  padding: 0%;
  margin-bottom: 5px;
  margin-top: 15px;
  font-style: italic;
  color:rgb(78, 139, 170);
}
div {
  font-family: 'Michr', sans-serif;
  font-size: 20px;
  line-height:1.2rem;
  padding:0%;
  margin:0%;
  font-weight:lighter;
}
p {
  font-family: 'Michr', sans-serif;
  font-size: 20px;
  line-height:1.2rem;
  padding:0%;
  margin:0%;
  font-weight:lighter;
}
* {
  box-sizing: border-box;
  font-family: 'Michr', sans-serif;
  line-height:1.2rem;
  font-size: 20px;
  font-weight:lighter;
}


/* ######################################################
#########################################################
              U I     E L E M E N T S 
#########################################################
#######################################################*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
                  main body + columns 
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/ 

/* for debugging i make the background of body and ui widget contents transparent */
body {
  background: #000000;
} 

.container {
  width: 100%;
  height:100%;
}

.column,
.columns {
  width: 100%;
  float: left;
}


/* For devices larger than 550px */
@media (min-width: 450px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .column,
  .columns {
    /*margin-left: 5px;
    margin-right: 5px;*/
    width: 100%;
  }
  .column:first-child,
  .columns:first-child {
      margin-left: 0;
  }
  .one.column,
  .one.columns {
      width: 4.66666666667%;
  }
  .two.columns {
      width: 13.3333333333%;
  }
  .twoandhalf.columns {
    width: 17.66666666667%;
  }
  .three.columns {
      width: 20%;
  }
  .threeplus.columns {
    width: 28%;
}
  .four.columns {
      width: 30.6666666667%;
  }
  .five.columns {
      width: 39.3333333333%;
  }
  .six.columns {
      width: 48%;
  }
  .seven.columns {
      width: 54%;
  }
  .eight.columns {
      width: 65.3333333333%;
  }
  .nine.columns {
      width: 74.0%;
  }
  .ten.columns {
      width: 82.6666666667%;
  }
  .eleven.columns {
      width: 91.3333333333%;
  }
  .twelve.columns {
      width: 100%;
      margin-right: 0;
  }
  .one-third.column {
      width: 30.6666666667%;
  }
  .two-thirds.column {
      width: 65.3333333333%;
  }
  .one-half.column {
      width: 48%;
  }
}
 
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
              INPUT Windows
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/ 
input {
    width: 100%;
    height: 80px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    /*font-family: 'Square', sans-serif;*/
    font-size: 20px;
    font-weight: 10;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background:rgba(66, 66, 66, 0);
    border: 10px solid transparent;
    padding: 2px;
    border-image: url("images/frame1.png") 10 stretch;
    }
input[type="submit"]
    {
      width: 50%;
      height: 50px;
      -moz-padding-start: calc(10px - 3px);
      padding-left: 10px;
      /*font-family: 'Square', sans-serif;*/
      font-size: 40px;
      font-weight: 10;
      color: rgb(255, 255, 255);
      cursor: pointer;
      background:rgba(66, 66, 66, 0);
      border: 10px solid transparent;
      padding: 2px;
      border-image: url("images/frame1.png") 10 stretch;
    }
input[type="file"]
    {
      width: 100%;
      height: 100px;
      -moz-padding-start: calc(10px - 3px);
      padding-left: 10px;
      /*font-family: 'Future', sans-serif;*/
      font-size: 30px;
      font-weight: 10;
      color: rgb(255, 255, 255);
      cursor: pointer;
      background:rgba(66, 66, 66, 0);
      border: 10px solid transparent;
      padding: 2px;
      border-image: url("images/frame1.png") 10 stretch;
    }
input[type="radio"]
    {
      height: 1em;
    }  
input[type="checkbox"]
    {
      width: 100%;
      height: 100%;
      /*-moz-padding-start: calc(10px - 3px);
      padding-left: 10px;
      font-family: 'Future', sans-serif;
      font-size: 20px;
      font-weight: 10;
      color: rgb(255, 255, 255);
      cursor: pointer;*/
      background:rgba(66, 66, 66, 0);
      border: 10px solid transparent;
      padding: 2px;
      border-image: url("images/frame1.png") 10 stretch;
      height: 1em;
    }
:focus{
      user-select: none;
      outline: none !important;
  }
  

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
              Button 
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
input[type="button"]
{
  /*-moz-padding-start: calc(10px - 3px);
  padding-left: 10px;*/
  font-size:16px !important;
  color:#97dcff;
  font-family: 'Michr', sans-serif;
  font-size: 20px;
  font-weight: 10;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background:rgba(66, 66, 66, 0);
  border: 10px solid transparent;
  padding: 1px;
  border-image: url("images/frame1.png") 10 stretch;
}
.swagPlayButton { 
  display: inline-block; 
  width:100px !important;
  height:50px !important;
}
.swagPlayButton:hover {
   background-color:rgba(2, 77, 114, 0.45);
}
.swagPlayButton:focus{
    user-select: none;
    outline: none !important;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
                text labels + frames
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.swagLabelSmall {
    padding-top: 15px;
    color:rgb(255, 255, 255);
    font-size:25px;
    /* font: 'Roboto'; */
    /*font-family: 'Square', sans-serif;*/
}

.swagLabel {
    color:white;
    font-size:40px;
    /* font: 'Roboto'; */
    /*font-family: 'Square', sans-serif;*/
    /*font-weight: lighter;*/
}

.swagBox{
  border: 10px solid transparent;
  padding: 5px;
  border-image: url("images/frame1.png") 10 stretch;
  background-color:rgba(20,20,20,1);
}

.cornerBox {
  /*--b:2px;  
  --c:#688b9e;  
  --w:10px; 
  --h:10px;*/
  width:100%;
  box-sizing:border-box;
  margin:0;
  padding:3px;
  padding-right:8px;
  border: solid 1.5px #222222;
  background-origin:border-box;
  background-repeat:no-repeat;
  
}

.swagCheckbox {
  width: 20px; 
  height: 20px;
  margin-top:12px;
}



/* style for d3 board in tab random walk  */
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
               Special effects + gifs
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.backgroundglow {
  background-color: #00abff;
  border-radius: 0.15rem;
  text-align: left;
  padding-left:4px;
  width:100%;
  line-height:2.3rem;
  height: 2px; /*100%;*/
  box-shadow:0px 0px 6px 4px #00aaffcb;
}

.backgroundflow {
  background-image: url("images/background-flow.gif");
  background-position: center;
  height:100%;
  background-size: 100%;
}

.lineglow {
  background-image: url("images/lineglow2_mod.gif");
  height:100%;
  background-size:contain;
  background-position: left;
  background-repeat: no-repeat;
  margin: 10px 0 0px;
}

.lineglowslow {
  background-image: url("images/lineglow2_mod-slow.gif");
  height:100%;
  background-size:contain;
  background-position: left;
  background-repeat: no-repeat;
  margin: 10px 0 0px;
}

.lineglow-particles {
  background-image: url("images/lineglow4_mod.gif");
  height:100%;
  background-size:100%; /* containt */
  background-position: left;
  background-repeat: no-repeat;
  margin: 10px 0 0px;
}

.netgif-wave {
  background-image: url("images/network9.gif"); /* or "images/network9-rev.gif" */
  background-position: center;
  height:100%;
  background-size: 100%;
}

.netgif-flash {
  background-image: url("images/network8.gif");
  background-position: center;
  height:100%;
  background-size: 100%;
}

.netgif-planet {
  background-image: url("images/network10.gif");
  background-position: left;
  height:100%;
  background-size: 100%;
}




/*disable dragging on images */
/* img{-webkit-user-drag: none;
      
} */
/* NOT INS USE?? 

.disable-select {     
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
} 
*/


/* NOT INS USE?? 
::-webkit-scrollbar {
  width: 20px;
  height: 20px
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #0089cc; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00abff; 
}

.bar {
   fill: steelblue;/
}

.bar:hover {
  fill: #7500fa;
}

.axis {
  font: 10px sans-serif;
    fill: white;
  stroke: white;
}

.axis path,
.axis line {
  fill: white;
  stroke: white;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.g tick{
  fill: white;
  stroke: white;
}
*/