

@font-face { font-family: Future; src: url('Roboto-Light.ttf'); } 
@font-face { font-family: Square; src: url('square_sans_serif_7.ttf'); } 
@font-face { font-family: Venus; src: url('venus.ttf'); } 
@font-face { font-family: Modular; src: url('Modular Amplitude.otf'); } 

@font-face { font-family: Akshar-lig; src: url('fonts/Akshar-Light.ttf'); } 
@font-face { font-family: Akshar-reg; src: url('fonts/Akshar-Regular.ttf'); }
@font-face { font-family: Akshar-med; src: url('fonts/Akshar-Medium.ttf'); } 
@font-face { font-family: Akshar-semi; src: url('fonts/Akshar-SemiBold.ttf'); }

@font-face { font-family: ExtBack; src: url('fonts/ExtrosBackstage.ttf'); } 

@font-face { font-family: Bal-ligital; src: url('fonts/BaiJamjuree-LightItalic.ttf'); } 
@font-face { font-family: Bal-lig; src: url('fonts/BaiJamjuree-Light.ttf'); } 
@font-face { font-family: Bal-boldital; src: url('fonts/BaiJamjuree-BoldItalic.ttf'); }
@font-face { font-family: Bal-semi; src: url('fonts/BaiJamjuree-Semibold.ttf'); }
@font-face { font-family: Bal-med; src: url('fonts/BaiJamjuree-Medium.ttf'); }

@font-face { font-family: Michr; src: url('fonts/Michroma-Regular.ttf'); } 

@font-face { font-family: Jura-reg; src: url('fonts/Jura-Regular.ttf'); } 


/* ######################################################
#########################################################
                  F O N T S
#########################################################
#######################################################*/

h1 {
  /*font-family: 'Square', sans-serif;*/
  font-family: 'Akshar-med', sans-serif;
  font-size: 80px;
  font-weight: 10;
  padding:0%;
  margin: left 20px;
}
h2 {
  /*font-family: 'Future', sans-serif;*/
  font-family: 'Akshar-reg', sans-serif;
  font-size: 50px;
  font-weight: 10;
  padding:0%;
  margin:0%;
}
h3 {
  /*font-family: 'Modular', sans-serif;*/
  font-family: 'Michr'; /*'Akshar-reg', sans-serif;*/
  font-size: 22px;
  color:#ffffff; /*202020;*/
  font-weight: lighter;
}
h3 span {
  padding:0 12px;
  font-size: 22px;
  color:#ffffffcc; 
}
h4 {
  /*font-family: 'Venus', sans-serif;*/
  font-family: 'Michr', sans-serif;  /*'Akshar-reg', sans-serif; */
  font-size: 16px;
  font-weight: 1;
  padding: 0%;
  margin-bottom: 5px;
  margin-top: 15px;
  font-style: italic;
  color:#688b9e; /*rgba(100,100,100,1);*/
}
div {
  font-family: 'Jura-reg', sans-serif;
  font-size: 16px;
  line-height:1.5rem;
  padding:0%;
  margin:0%;
}
* {
  box-sizing: border-box;
  font-family: 'Michr', sans-serif;
  font-size: 20px;
  /*text-transform: uppercase;*/
}


/* ######################################################
#########################################################
              U I     E L E M E N T S 
#########################################################
#######################################################*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
                  main body + columns 
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/ 

/* for debugging i make the background of body and ui widget contents transparent */
body {
  background: #000000;
} 

.container {
  width: 100%;
  height: 100%;
  border-color: #00abff;
  border-width: 10px;
}

.column,
.columns {
  width: 100%;
  float: left;
}


/* For devices larger than 550px */
@media (min-width: 450px) {
  .row {
    width:100%;
  }
  .container {
    width: 100%;
    height: 100vh;
  }
  .column,
  .columns {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
  }
  .column:first-child,
  .columns:first-child {
      margin-left: 0;
  }
  .one.column,
  .one.columns {
      width: 4.66666666667%;
  }
  .two.columns {
      width: 13.3333333333%;
  }
  .twoandhalf.columns {
    width: 17.66666666667%;
  }
  .three.columns {
      width: 20%;
  }
  .threeplus.columns {
    width: 28%;
}
  .four.columns {
      width: 30.6666666667%;
  }
  .five.columns {
      width: 39.3333333333%;
  }
  .six.columns {
      width: 48%;
  }
  .seven.columns {
      width: 54%;
  }
  .eight.columns {
      width: 65.3333333333%;
  }
  .nine.columns {
      width: 74.0%;
  }
  .ten.columns {
      width: 82.6666666667%;
  }
  .eleven.columns {
      width: 91.3333333333%;
  }
  .twelve.columns {
      width: 100%;
      margin-left: 0;
  }
  .one-third.column {
      width: 30.6666666667%;
  }
  .two-thirds.column {
      width: 65.3333333333%;
  }
  .one-half.column {
      width: 48%;
  }
}


.backgroundglow {
  background-color: #00abff;
  border-radius: 0.15rem;
  text-align: left;
  padding-left:4px;
  width:100%;
  line-height:2.3rem;
  height: 2px; /*100%;*/
  box-shadow:0px 0px 6px 4px #00aaffcb;
}


.lineglow {
  background-image: url("images/lineglow2_mod.gif");
  /*background-color: #00abff;
  border-radius: 0.15rem;
  border-bottom: 2px solid #00abff;
  box-shadow:0px 0px 8px 6px #00aaffcb;
  line-height:0rem;
  width:95%;
  text-align:left;
  */
  height:100%;
  background-size:contain;
  background-position: left;
  background-repeat: no-repeat;
  margin: 10px 0 0px;
}

 
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
                      input windows 
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/ 

input {
    width: 100%;
    height: 80px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    /*font-family: 'Square', sans-serif;*/
    font-size: 40px;
    font-weight: 10;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background:rgba(66, 66, 66, 0);
    border: 10px solid transparent;
    padding: 2px;
    border-image: url("images/frame1.png") 10 stretch;
    }


input[type="submit"]
    {
      width: 50%;
      height: 50px;
      -moz-padding-start: calc(10px - 3px);
      padding-left: 10px;
      /*font-family: 'Square', sans-serif;*/
      font-size: 40px;
      font-weight: 10;
      color: rgb(255, 255, 255);
      cursor: pointer;
      background:rgba(66, 66, 66, 0);
      border: 10px solid transparent;
      padding: 2px;
      border-image: url("images/frame1.png") 10 stretch;
    }

input[type="file"]
    {
      width: 100%;
      height: 100px;
      -moz-padding-start: calc(10px - 3px);
      padding-left: 10px;
      /*font-family: 'Future', sans-serif;*/
      font-size: 30px;
      font-weight: 10;
      color: rgb(255, 255, 255);
      cursor: pointer;
      background:rgba(66, 66, 66, 0);
      border: 10px solid transparent;
      padding: 2px;
      border-image: url("images/frame1.png") 10 stretch;
    }

input[type="radio"]
    {
      height: 1em;
    }

input[type="button"]
    {
      width: 100%;
      height: 100px;
      -moz-padding-start: calc(10px - 3px);
      padding-left: 10px;
      font-family: 'Future', sans-serif;
      font-size: 20px;
      font-weight: 10;
      color: rgb(255, 255, 255);
      cursor: pointer;
      background:rgba(66, 66, 66, 0);
      border: 10px solid transparent;
      padding: 2px;
      border-image: url("images/frame1.png") 10 stretch;
      height: 1em;
    }

  
input[type="checkbox"]
    {
      width: 100%;
      height: 100px;
      -moz-padding-start: calc(10px - 3px);
      padding-left: 10px;
      font-family: 'Future', sans-serif;
      font-size: 20px;
      font-weight: 10;
      color: rgb(255, 255, 255);
      cursor: pointer;
      background:rgba(66, 66, 66, 0);
      border: 10px solid transparent;
      padding: 2px;
      border-image: url("images/frame1.png") 10 stretch;
      height: 1em;
    }


:focus{
    user-select: none;
    outline: none !important;
}
/*disable dragging on images */
/* img{-webkit-user-drag: none;
        
} */

.disable-select {     
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefsixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
                text labels + frames
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.swagLabelSmall {
    padding-top: 15px;
    color:rgb(255, 255, 255);
    font-size:25px;
    /* font: 'Roboto'; */
    /*font-family: 'Square', sans-serif;*/
}

.swagLabel {
    color:white;
    font-size:40px;
    /* font: 'Roboto'; */
    /*font-family: 'Square', sans-serif;*/
    /*font-weight: lighter;*/
}

.swagBox{
  border: 10px solid transparent;
  padding: 5px;
  border-image: url("images/frame1.png") 10 stretch;
  background-color:rgba(20,20,20,1);
}

.cornerBox {
  --b:2px;  
  --c:#688b9e;  
  --w:10px; 
  --h:10px;

  width:100%;
  box-sizing:border-box;
  margin:0;
  padding:3px;
  /*background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
  background-size:var(--w) var(--w);
  background-origin:border-box;
  background-repeat:no-repeat;
  */ 
}

.swagCheckbox {
  width: 20px; 
  height: 20px;
  margin-top:12px;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
             get rid of jquery stuff in this css
             e.g. projects dropdown menu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



.ui-slider.ui-slider-horizontal {
  margin: 0px 0px 5px 0px;
  height: 40px;
  border: 0px solid #666666;
  border-radius: 0px;
  background: transparent url(images/slider2.png);
}


.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-max{
   background: transparent url(images/slider1.png);
   /* border: 1px solid #666666; */
}


.ui-slider .ui-slider-handle {
	/* position: absolute; */
  top: -0em;
  left: -0.1em;
	z-index: 2;
	width: 40px;
	height: 40px;
	cursor: default;
  touch-action: none;
  background: transparent url(images/slider_customHandle.png) no-repeat 0 0;
}


/* style for d3 board in tab random walk  */
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}


.ui-slider-handle:hover,
.ui-slider-handle:focus {
	border: 0px solid #1c58fb;
	background: transparent url(images/slider_customHandle_active.png) no-repeat 0 0;
	font-weight: normal;
    outline: none;
	/* color: #ffffff; */
}



/* width */
::-webkit-scrollbar {
  width: 20px;
  height: 20px
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0089cc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00abff; 
}

.bar {
  /* fill: steelblue; */
}

.bar:hover {
  fill: #7500fa;
}

.axis {
  font: 10px sans-serif;
    fill: white;
  stroke: white;
}

.axis path,
.axis line {
  fill: white;
  stroke: white;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.g tick{
      fill: white;
  stroke: white;
}
