<div class="string_attribute">
    <div class="frameBox">
        <div class="twelve columns">
            <div class="twelve columns">
                <h5 style="text-align:end"> Description</h5>
                <script>
                    if(pdata.network=="string")
                        var description = node_data.stringdb_description;
                        document.write(
                            "<p align='justify'>"
                            + description
                            + "<p>");
                </script>
            </div>
        </div>
    </div>
</div>
