<div id="nodefragment-1">
    <div class="twelve columns">
        <h2 class="lineglowslow" style="font-size: 68px; margin-bottom:30px;margin-top:30px">Node Info</h2>
    </div>

    <!-- <h3> Identifier</h3> -->
    <div class="frameBox" id="identifier">
        <div class="twelve columns">
            <div class="five columns">
                <h4>Identifier :: </h4>
            </div>
            <div class="six columns">
                <h5>
                    <script>
                        document.write(node_data.n);
                    </script>
                </h5>
            </div>
        </div>
        {% if pfile.network == "string" %}
            {% include '/nodepanel/first.html' %}
        {% endif %}
        
    </div>
    <!-- <h3> Identifier</h3> -->
    <div class="frameBox" style="display:inline-block; margin-top:6px; margin-bottom:6px;">
        <div class="twelve columns">
            <input type="button" value="3D Model" id='proteinButton' class="swagTextButton">
        </div>
        <!-- <script> -->
        <div class="todo">TODO: ADD Script to show/hide model, when model is hidden,
            make button less
            visible. Forward and backward buttons should change the loaded model using the next or last
            uniprot id in the list.
        </div>
        <!-- </script> -->
    </div>
    <div class="frameBox">
        <div class="twelve columns">
            <h5 style="text-align:end"> Tag Search</h5>
            <form>
                <input type="text" id="tag-search" name="tag-search" placeholder="Search for tag.." class="swagBox">
            </form>
            <div class="twelve columns">
                <input type="button" value="Search" id='tag-search-button' class="swagTextButton">
                <!-- <script> -->
                <div class="todo">TODO: Add Search Button to find certain tag value and add
                    them to the
                    list of selected tags</div>
                <!-- </script> -->
            </div>
            <h4> List of searched Node Tags</h5>
                <ul>
                    <li>
                        <p>Key:value</p>
                    </li>
                    <li>
                        <p>Key:value</p>
                    </li>
                    <li>
                        <p>Key:value</p>
                    </li>
                    <li>
                        <p>Key:value</p>
                    </li>
                </ul>

        </div>
    </div>
</div>