<div id="nodefragment-2">


    <div class="twelve columns">
        <h2 class="lineglowslow" style="font-size: 68px; margin-bottom:30px;margin-top:30px">Node Info</h2>
    </div>

    <!-- <h3> Identifier</h3> -->
    <div class="frameBox">
        <div class="twelve columns">
            <div class="five columns">
                <h4>Identifier :: </h4>
            </div>
            <div class="six columns">
                <h5>
                    <script>
                        document.write(node_data.n);
                    </script>
                </h5>
            </div>
        </div>
        {% if pfile.network == "string" %}
            {% include '/nodepanel/first.html' %}
        {% endif %}    
    </div>
    {% if pfile.network == "string" %}
    {% include '/nodepanel/description.html' %}
    {% include '/nodepanel/sequence.html' %}
    {% endif %}    
    <!-- <h3>Additional</h3> -->
    
</div>