<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>tabs demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
               
  <script type="text/javascript" src="{{ url_for('static', filename='js/connect_socketIO_doku.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mc_UI_Elements.js') }}"></script>
  {% include 'templates.html' %}
</head>
<body>
 
<div id="tabs">
  <ul>
    <li><a href="#fragment-1"><span>One</span></a></li>
    <li><a href="#fragment-2"><span>Two</span></a></li>
    <li><a href="#fragment-3"><span>Three</span></a></li>
  </ul>
  <div id="fragment-1">
    <p>First tab is active by default:</p>
    <pre><code>$( "#tabs" ).tabs(); </code></pre>
  </div>
  <div id="fragment-2">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </div>
  <div id="fragment-3">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
<script>

   
//$( "#tabs" ).tabs();

var tabs = $( "#tabs" ).tabs();
var ul = tabs.find( "ul" );
var xyz = {a: 9.0, b: 20.0, c:30.0, d:8.0, e:12.0, f:9.0, g:3.3};
$( "<li><a href='#fragment-4'>New Tab</a></li>" ).appendTo( ul );
$( "<div id='fragment-4'></div>" ).appendTo( tabs );
tabs.tabs( "refresh" );
var element = document.createElement("d3pie-widget");
    element.setAttribute("id", "666");
    element.setAttribute("data", xyz);
    element.setAttribute("color", "#000000");  
    element.appendChild(document.createTextNode('The man who mistook his wife for a hat'));
    document.getElementById('fragment-4').appendChild(element);
</script>
 
</body>
</html>