<!-- PUT YOUR UI ELEMENTS IN HERE AND DEFINE MAPPINGS IN main_UI.js -->
<!-- HTML STARTS HERE -->
<!DOCTYPE html>

<html>
<head>
<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/SwagStyle.css') }}" rel="stylesheet"/>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/UI_Module_Config.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/connect_WebUI.js') }}"></script>
<script src="{{ url_for('static', filename='js/connect_socketIO_main.js') }}"></script>
<script src="{{ url_for('static', filename='js/mc_UI_Elements.js') }}"></script>
</head>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++

                                       body
                                        
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<body>
    {% if "UnrealEngine" not in request.user_agent|string%} {% include
    "NavBar.html" %} {% endif %}
<!-- Main Header -->
<div class="twelve columns">
<h2 class="lineglowslow">Home</h2>
</div>
<div class="twelve columns">
<div class="frameBox" id="home_framebox" style="display: inline-block; margin-top: 6px; margin-bottom: 6px">
<h4>Home</h4>
<input onclick="followLink('/home')" style="margin: 10px;min-width: 48%; max-width: fit-content;" type="submit" value="home"/>
</div>
</div>
<div class="twelve columns">
<div class="six columns">
<div class="frameBox" id="mainpanel_framebox" style="display: inline-block; margin-top: 6px; margin-bottom: 6px">
<h4>Main Panels</h4>
<input onclick="followLink('/main')" style="margin: 10px;min-width: 40%; max-width: fit-content;" type="submit" value="main"/>
<input onclick="followLink('/doku/index')" style="margin: 10px;min-width: 48%; max-width: fit-content;" type="submit" value="doku / string main"/></div>
</div>
<div class="six columns">
<div class="frameBox" id="nodepanel_frambox" style="display: inline-block; margin-top: 6px; margin-bottom: 6px">
<h4>Node Info</h4>
<input onclick="followLink('/nodepanel')" style="margin: 10px;min-width: 40%; max-width: fit-content;" type="submit" value="nodepanel"/>
</div>
</div>
</div>
<div class="twelve columns">
<div class="six columns">
<div class="frameBox" id="uploader_framebox" style="display: inline-block; margin-top: 6px; margin-bottom: 6px">
<h4>Uploader</h4>
<input onclick="followLink('/upload')" style="margin: 10px;min-width: 40%; max-width: fit-content;" type="submit" value="upload"/>
</div>
</div>
<div class="six columns">
<div class="frameBox" id="preview_framebox" style="display: inline-block; margin-top: 6px; margin-bottom: 6px">
<h4>Previews</h4>
<input onclick="followLink('/preview')" style="margin: 10px;min-width: 40%; max-width: fit-content;" type="submit" value="preview"/>
</div>
</div>
</div>
</body>
</html>