<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" -->
    <!-- rel = "stylesheet"> -->
    <!-- <link href="jquery-ui.css" rel="stylesheet"> -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/UI_Module_Config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/connect_WebUI.js') }}"></script>
    <script src="{{ url_for('static', filename='js/connect_socketIO_node.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mc_UI_Elements.js') }}"></script>
    <!--
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload_UI.js') }}"></script>

    
    -->

</head>



<template id="mcTextBox-template">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">

    <div id="label" class="swagLabelSmall">TEXT</div>
    <input type="Text" id="text" autocomplete="off">
</template>



<body>
    
    <script>
        var sessiondata = JSON.parse({{ sessionData| tojson}});
        var nodes = JSON.parse('{{ nodes | tojson}}')["nodes"];
        var node_id = '{{id}}';
        var node_data = nodes[node_id];
        var node_sym = node_data["n"];
        var node_annot = node_data["description"];
        var additional = node_data['{{add_key}}'];
        if (node_data.uniprot) {
            var uniprot_id = node_data.uniprot[0];

            ue4("prot", { id: uniprot_id });
        };

    </script>

    <div id="tabsUL">
        <script>
            $(function() {
                $("#tabsUL").tabs();
            });
            // MULTICAST TAB CHANGES 
            var last_active_node_panel = 0;
            $('#tabsUL').on('click', function(event, ui) {
                var nodepanel_active = $('#tabsUL').tabs('option', 'active');
                if (nodepanel_active != last_active_node_panel) {
                    console.log("changed tabsUL to " + nodepanel_active);
                    last_active_node_panel = nodepanel_active;
                    socket.emit('ex', { msg: last_active_node_panel, id: "tabsUL", fn: "cht" });
                }
            });
        </script>
        <!-- <a href="nodepanel.html" id="" title="Nodepanel"></a> -->
        <ul id="nodepanel_tabsList">
            <li>
                <a href="#nodefragment-1" class="crosslinks"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/active_nodeInfo.png') }}" />1</a>
            </li>
            <li>
                <a href="#nodefragment-2" class="crosslinks"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/active_nodeInfo.png') }}" />2</a>
            </li>
            <li>
                <a href="#nodefragment-3"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/active_protein.png') }}" /></a>
            </li>
            <li>
                <a href="#nodefragment-4"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/networkstructure_white.png') }}" /></a>
            </li>
            <li>
                <a href="#nodefragment-5"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/networkicon-white-small.png') }}" /></a>
            </li>
            <li>
                <a href="#nodefragment-6"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/networkicon-white-small.png') }}" /></a>
            </li>
            <li>
                <a href="#nodefragment-7"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/networkicon-white-small.png') }}" /></a>
            </li>
            <li>
                <a href="#nodefragment-8"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/networkicon-white-small.png') }}" /></a>
            </li>
        </ul>
        <!-- Node information -->
        <div id="nodefragment-1">

            <div class="twelve columns">
                <h2 class="lineglowslow" style="font-size: 68px; margin-bottom:30px;margin-top:30px">Node Info</h2>
            </div>

            <!-- Contains Identifier, Species and first UniProtID if these information are available for the Node -->

            <div id="node_general_information">
                <h4>General Information</h4>
                <div class="frameBox" id="identifier">
                    <div class="twelve columns">
                        <div class="five columns">
                            <h4>Identifier :: </h4>
                        </div>
                        <div class="six columns">
                            <h5>
                                <script>
                                    document.write(node_data.n);
                                </script>
                            </h5>
                        </div>
                    </div>

                    <!-- Species -->
                    <div class="twelve columns" id="node_species">
                        <div class="five columns">
                            <h4>Species :: </h4>
                        </div>
                        <div class="six columns">
                            <h5>
                                <script>
                                    if (node_data.species) {
                                        document.write(node_data.species);
                                    } else {
                                        document.getElementById("node_species").remove();
                                    };
                                </script>
                            </h5>
                        </div>
                    </div>

                    <!-- UniProtID -->
                    <div class="twelve columns" id="node_main_uniprotid">
                        <div class="five columns">
                            <h4>UniProtID :: </h4>
                        </div>
                        <div class="six columns">
                            <h5>
                                <script>
                                    if (node_data.uniprot) {
                                        document.write(node_data.uniprot[0]);
                                    } else {
                                        document.getElementById("node_main_uniprotid").remove();
                                    };
                                </script>
                            </h5>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Contains protein sequence of the Node if provided. -->
            <div class="frameBox" id="node_sequence">
                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Sequence :: </h4>
                    </div>
                    <div class="six columns" style="overflow-y: hidden;padding-bottom:10px;" id="sequence">
                        <h5>
                            <script>
                                if(node_data.sequence){
                                    document.write(node_data.sequence);
                                }else{
                                    document.getElementById("node_sequence").remove();
                                };
                            </script>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Contains Description of the Node if provided. -->
            <div class="frameBox" id="node_description">
                <div class="twelve columns">
                    <div class="twelve columns">
                        <h5 style="text-align:end;"> Description</h5>
                        <div style="overflow-y:scroll;max-height:300px;padding:20px">
                            <script>
                                if (node_data.description) {
                                    var description = node_data.description;
                                    document.write(
                                        "<p align='justify'>"
                                        + description
                                        + "<p>");
                                } else {
                                    document.getElementById("node_description").remove();
                                };
                            </script>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div id="nodefragment-2">
            <div class="twelve columns">
                <h2 class="lineglowslow" style="font-size: 68px; margin-bottom:30px;margin-top:30px">Node Info</h2>
            </div>
        </div> -->

        <div id="nodefragment-3">
            <!-- Contains a Button to show/hide the UniProtID and a drop down menu to select the desired protein structure. -->

            <!-- Structural Information -->

            <div id="node_protein_structures">
                <h4>Structural Information</h4>
                <div class="frameBox" style="display:inline-block; margin-top:6px; margin-bottom:6px;">
                    <div class="twelve columns">
                        <input type="button" value="3D Model" id='proteinButton' class="swagTextButton">
                    </div>
                    <!-- <script> -->
                    <p>TODO: ADD Script to show/hide model.</p>

                    <!-- </script> -->
                </div> 

            <!-- Protein Structure Dropdown -->

                <h4 style="margin-top:50px; margin-bottom:25px">PROTEIN STRUCTURES</h4>
                <div class="cornerBox">
                    <select id='structure'></select>
                    <script>
                        if (node_data.uniprot){
                            function initDropdown (id, data, active){
                                $('#'+ id).selectmenu();

                                for (let i = 0; i < data.length; i++) {
                                $('#'+ id).append(new Option(data[i]));
                                }
                                $('#'+ id).val(active);
                                $('#'+ id).selectmenu("refresh");

                                $('#'+ id).on('selectmenuselect', function () {
                                var name =  $('#'+ id).find(':selected').text();

                                ue4("prot", {id:name});
                                //console.log($('#structure').val());
                                });

                                };
                                initDropdown('structure', node_data.uniprot,sessiondata["actStruc"]);
                        }else{
                            document.getElementById("node_protein_structures").remove();
                        };
                    </script>
                </div>
            </div>
        </div>
        <!-- Crosslinks to external databases -->
        <div id="nodefragment-4">
            <div class="twelve columns">
                <h2 class="lineglowslow" style="font-size: 68px; margin-bottom:30px;margin-top:30px">Crosslinks</h2>
            </div>
        
            <div class="frameBox" id="node_crosslinks">
                <div class="twelve columns">
                    <div class="twelve columns">
                        <h5 style="text-align:end"> Crosslinks</h5>
                    </div>
                    <div class="four columns" id="uniprot-crosslink">
                        <a class="crosslinks" target="_blank" id="uniprot-cross" title="uniprot">UniProt</a>
                    </div>
                    <div class="four columns" id="alphafold-crosslink">
                        <a class="crosslinks" target="_blank" id="alphafold-cross" title="alphafold">
                            AlphaFold
                        </a>
                    </div>
                    <div class="four columns" id="genecards-crosslink">
                        <a class="crosslinks" target="_blank" id="genecards-cross" title="genecards">
                            GeneCards
                        </a>
                    </div>
                    <div class="four columns" id="tissues-crosslink">
                        <a class="crosslinks" target="_blank" id="tissue-cross" title="tissue">
                            TISSUES
                        </a>
                    </div>
                    <div class="four columns" id="disease-crosslink">
                        <a class="crosslinks" target="_blank" id="disease-cross" title="disease">
                            DISEASES
                        </a>
                    </div>
                    <div class="four columns" id="compartments-crosslink">
                        <a class="crosslinks" target="_blank" id="compartments-cross" title="compartments">
                            COMPARTMENTS
                        </a>
                    </div>
                    <div class="four columns" id="pharos-crosslink">
                        <a class="crosslinks" target="_blank" id="pharos-cross" title="pharos">
                            Pharos
                        </a>
                    </div>
                    <script>
                        var link = "https://tissues.jensenlab.org/Search?query=<toChange>"
                        setHref("tissue-cross", node_data.n, link);
        
                        var link = "https://diseases.jensenlab.org/Search?query=<toChange>"
                        setHref("disease-cross", node_data.n, link);
        
                        var link = "https://compartments.jensenlab.org/Search?query=<toChange>"
                        setHref("compartments-cross", node_data.n, link);
                        if(uniprot_id){
                            var link = "https://www.uniprot.org/uniprotkb/<toChange>/entry"
                            setHref("uniprot-cross", uniprot_id, link);
            
                            var link = "https://alphafold.ebi.ac.uk/entry/<toChange>"
                            setHref("alphafold-cross", uniprot_id, link);
            
                            var link = "https://genecards.org/Search/Keyword?queryString=<toChange>"
                            setHref("genecards-cross", uniprot_id, link);

                            var link = "https://pharos.nih.gov/targets/<toChange>"
                            setHref("pharos-cross", uniprot_id, link);
                        }else{
                            document.getElementById("uniprot-crosslink").remove();
                            document.getElementById("alphafold-crosslink").remove();
                            document.getElementById("genecards-crosslink").remove();
                            document.getElementById("pharos-crosslink").remove();
                        }

                    </script>
                </div>
        
            </div>
        </div>

        <!-- <div id="nodefragment-5">
        </div> -->

        <!-- <div id="nodefragment-6">
        </div> -->

        <!-- <div id="nodefragment-7">
        </div> -->

        <!-- <div id="nodefragment-8">
        </div> -->

        <!-- Deactivate unused tabs -->
        <script>
            // Will deactivate all tabs for which the if referenced in href cannot be found in the document.
            deactivateTabs("nodepanel_tabsList")
        </script>

        <!-- <h3>Protein Structure</h3>
                    <div class="frameBox">
                        <div class="twelve columns">
                            <div class="five columns">
                                <h4>Alphafold ID :: </h4>
                            </div>
                            <div class="six columns">
                                <h5>
                                    <script>
                                        document.write(uniprot_id);
                                    </script>
                                </h5>
                            </div>
                        </div>
                    
                        <div class="twelve columns">
                            <div class="five columns">
                                <h4>Alphafold Size :: </h4>
                            </div>
                            <div class="six columns">
                                <h5>
                                    <script>
                                        document.write(alphafold_size);
                                    </script>
                                </h5>
                            </div>
                        
                        </div>
                    </div> 

                </div>

        </div> -->

    </div>
</body>




</html>