<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" -->
    <!-- rel = "stylesheet"> -->
    <!-- <link href="jquery-ui.css" rel="stylesheet"> -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/UI_Module_Config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/connect_WebUI.js') }}"></script>
    <script src="{{ url_for('static', filename='js/connect_socketIO_node.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mc_UI_Elements.js') }}"></script>
    <!--
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload_UI.js') }}"></script>
    
    
    -->

</head>



<template id="mcTextBox-template">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">

    <div id="label" class="swagLabelSmall">TEXT</div>
    <input type="Text" id="text" autocomplete="off">
</template>



<body>

    <script>
        var sessiondata = JSON.parse({{ sessionData| tojson}});
        var node_data = JSON.parse({{ node | tojson}})["node"];
        var node_sym = node_data["n"];
        var node_annot = node_data["description"];
        var additional = node_data['{{add_key}}'];
        if (node_data.uniprot) {
            var uniprot_id = node_data.uniprot[0];

            ue4("prot", { id: uniprot_id });
        };

    </script>
    {% if "UnrealEngine" not in request.user_agent|string%}
    {% include "NavBar.html" %}
    {% endif %}

    <div id="tabsUL">
        <a href="nodepanel.html" id="" title="Nodepanel"></a>
        <ul>
            <li>
                <a href="#nodefragment-1"><img draggable="false" onmousedown="return false" height='40' width='40'
                        src="{{ url_for('static', filename='img/networkicon-white-small.png') }}" /></a>
            </li>
        </ul>

        <div id="nodefragment-1">


            <div class="twelve columns">
                <h2 class="lineglowslow" style="font-size: 68px; margin-bottom:30px;margin-top:30px">Node Info</h2>
            </div>

            <br>
            </br>

            <h7>BIOLOGICAL INFORMATION</h7>
            <br>
            </br>

            <div class="frameBox">

                <div class="twelve columns">
                    <div class="five columns">
                        <h4 style="text-align:end; margin-right:10px">Gene Symbol ::</h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(node_sym);
                            </script>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="frameBox">
                <div class="twelve columns">
                    <div class="five columns">
                        <h4 style="text-align:end; margin-right:10px">Gene Info ::</h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(additional);
                            </script>
                        </h5>
                    </div>
                </div>

                <div class="twelve columns">
                    <div class="five columns">
                        <h4 style="text-align:end; margin-right:10px">Gene ID ::</h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(node_id);
                            </script>
                        </h5>
                    </div>
                </div>
            </div>

            <br>
            </br>
            <h7>STRUCTURAL INFORMATION</h7>
            <br>
            </br>

            <div class="frameBox">
                <div class="twelve columns">
                    <div class="five columns">
                        <h4 style="text-align:end; margin-right:10px">Node Info :: </h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(node_annot);
                            </script>
                        </h5>
                    </div>
                </div>
            </div>
            <h7>PROTEIN STRUCTURES</h7>
            <div class="cornerBox">
                <select id='structure'></select>
                <input type="button" id='showStructure' class="swagBackwardButton"></button>




                <h7>PROTEIN SIZE</h7>
                <div id="slider-prot_size"></div>
                <script>


                    initDropdown('structure', node_data.uniprot, sessiondata["actStruc"]);
                    initSlider('slider-prot_size');
                    initButton('showStructure');
                    //ue4("prot", {id:name});
                </script>
            </div>

        </div>

        <!-- <h3>Protein Structure</h3>
            <div class="frameBox">
                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Alphafold ID :: </h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(uniprot_id);
                            </script>
                        </h5>
                    </div>
                </div>
            -->

        <!-- 
                <div class="twelve columns">
                    <div class="five columns">
                        <h4>Alphafold Size :: </h4>
                    </div>
                    <div class="six columns">
                        <h5>
                            <script>
                                document.write(alphafold_size);
                            </script>
                        </h5>
                    </div>
                
                </div>
            </div> 

        </div>

        </div>-->
    </div>
</body>




</html>