<div class="twelve columns" style="background-color:rgba(0,0,0,0.65);">
    <h2 class="lineglowslow"style="margin-bottom:20px;margin-top:20px">Project</h2>
<div id="ptabs" class="disable-select">
    <script>   // MULTICAST TAB CHANGES 
        $(function() {
            $("#ptabs").tabs();
        });
        var last_ptab_active = 0;
        $('#ptabs').on('click', function(event, ui) {
            var ptab_active = $('#ptabs').tabs('option', 'active');
            if (ptab_active != last_ptab_active) {
                console.log("changed ptab to " + ptab_active);
                last_ptab_active = ptab_active;
                socket.emit('ex', { msg: ptab_active, id: "ptabs", fn: "cht" });
            }
        });
    </script>
    <ul>
        <script>
            for (var i = 0; i < sessiondata["proj"].length; i += 10) {
                var idx = (i / 10).toString()
                var code = `<li><a class="crosslinks" href="#ptabs` + idx + `"><img draggable="false" onmousedown="return false" height='40' width='40'
                    src="{{ url_for('static', filename='img/active_open.png') }}" />`+ ((i/10)+1).toString() + `</a></li>`;
                document.write(code);
            };
        </script>
    </ul>

    <div class="twelve columns">
            <!--<div id="projects-section" class="five columns">
                    <h3 class="lineglowslow" style="background-size: contain;"><span>PROJECT</span></h3>
                </div>
                <div class="seven columns">-->
            <script>
                for (var i = 0; i < sessiondata["proj"].length; i += 10) {
                    var idx = (i / 10).toString()
                    var code = `
                    <div id="ptabs`+ idx + `" class="container"style="margin-left:-40px;">
                        <div class="cornerBox">
                            <select id='projects`+ idx + `''></select>
                        </div>
                    </div>
                    `;
                    document.write(code);
                    initProjectDropdown('projects' + idx, sessiondata["proj"].slice(i, i + 10), sessiondata["actPro"]);
                };
            </script>
        </div>
    </div>
</div>