

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++

                TEMPLATES & THEIR JS CLASSES
                                        
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->


        
<script>
    class mcRButton extends HTMLElement {


        constructor() {
        super();
        }

        connectedCallback() {
        let template = document.querySelector('#mcRB-template').content;
        this.attachShadow({ mode: 'open' }).appendChild(template.cloneNode(true));

        let name_button = this.shadowRoot.querySelector("#name");
        let x_button = this.shadowRoot.querySelector("#x");

        name_button.textContent = this.getAttribute('name');
        name_button.style.background = this.getAttribute('color');//("background",);
        //console.log('create: '+ this.getAttribute('id'));

        name_button.addEventListener('click', () => {
            //console.log('select '+ this.shadowRoot.getAttribute('id'));
            socket.emit('ex', { msg: this.getAttribute('name'), id: this.getAttribute('id'), fn: "rem_butt_clicked" });
        });

        x_button.addEventListener('click', () => {

            console.log(name_button.parentElement);
            var parent = this.getRootNode().host;
            if (parent != null) { //is in shadowDom

            socket.emit('ex', { id: this.getAttribute('id'), parent: parent.getAttribute('id'), fn: "rem_butt_del_sbox" });
            } else {
            socket.emit('ex', { id: this.getAttribute('id'), parent: this.parentElement.getAttribute('id'), fn: "rem_butt_del" });
            }

        });

        }

    }

    customElements.define('mc-rbutton', mcRButton);
</script>

<template id="mcRB-template">
    <style>
        button {
            width: 15%;
            font-family: 'Future', sans-serif;

            cursor: pointer;
            box-sizing: border-box;
            padding: 5px 2px;
            border-radius: 20px;
            border-top: 2px solid;
            border-bottom: 0px solid;
            border-left: 0px solid;
            border-right: 2px solid;
            border-color: rgb(255, 255, 255);
            color: rgb(255, 255, 255);
            font-size: 20px;
        }
    </style>

    <div id="container" style="width: 120px; height: 30p0x; display: inline-block; padding: 4px 2px">
        <button id="name"
            style="width: 90px; height: 30p0x; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right: 0px"></button><button
            id="x"
            style="width: 30px; height: 30p0x;border-top-left-radius: 0px; border-bottom-left-radius: 0px; background-color: #3d3d3d;">X</button>
    </div>
</template>








<script>
    class mcSresult extends HTMLElement {

        constructor() {
        super();
        }

        connectedCallback() {


        let template = document.querySelector('#mcSresult-template').content;
        this.attachShadow({ mode: 'open' }).appendChild(template.cloneNode(true));

        let name_button = this.shadowRoot.querySelector("#name");
        let x_button = this.shadowRoot.querySelector("#x");

        name_button.textContent = this.getAttribute('name');
        name_button.style.background = this.getAttribute('color');//("background",);
        //console.log('create: '+ this.getAttribute('id'));

        name_button.addEventListener('click', () => {
            //console.log('select '+ this.shadowRoot.getAttribute('id'));
            socket.emit('ex', { msg: this.getAttribute('name'), id: this.getAttribute('id'), fn: "sres_butt_clicked" });
        });



        }
    }

    customElements.define('mc-sresult', mcSresult);

</script>
<template id="mcSresult-template">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">


    <button id='name' name='name'
        style='width: 100%; height: auto; overflow:hidden; border-radius: 12px;  background-color: #adadad; display: inline-block; border-color: rgb(10, 24, 221); border-right: 2px solid ; border-top: 2px solid; border-left: 2px solid ; border-bottom: 2px solid'>

    </button>
</template>









<script>
    class mcScrollBox extends HTMLElement {

        constructor() {
        super();
        }

        connectedCallback() {
        let template = document.querySelector('#mcScrollBox-template').content;
        this.attachShadow({ mode: 'open' }).appendChild(template.cloneNode(true));



        let scrollbox = this.shadowRoot.querySelector("#box");
        let label = this.shadowRoot.querySelector("#label");
        label.innerHTML = this.getAttribute('id').toUpperCase();

        var isScroll = false;
        var lastscroll = 0;
        scrollbox.addEventListener('mouseup', () => {
            //console.log(scrollbox.value);
            isScroll = false;
            //socket.emit('ex', {id: this.getAttribute('id'), val: slider.value, fn: "sli"});
        });

        scrollbox.addEventListener('mousedown', () => {
            isScroll = true;
        });

        scrollbox.addEventListener('scroll', () => {
            var out = [$(scrollbox).scrollTop(), $(scrollbox).scrollLeft()];
            var thisscroll = out[0] + out[1];
            if (isScroll && Math.abs(thisscroll - lastscroll) > 10) {
            socket.emit('ex', { msg: out, id: this.getAttribute('id'), fn: "scb" });
            lastscroll = out[0] + out[1];
            console.log(out[0])

            }
        });

        }
    }

    customElements.define('mc-scrollbox', mcScrollBox);
</script>

<template id="mcScrollBox-template">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">

    <!-- <div id = "label" class = "swagLabelSmall">TEXT</div> -->
    <div id='box' name='box' class='swagBox'>

    </div>
</template>









<script>  

    class mcTextBox extends HTMLElement {

        constructor() {
        super();
        }

        connectedCallback() {
        let template = document.querySelector('#mcTextBox-template').content;
        this.attachShadow({ mode: 'open' }).appendChild(template.cloneNode(true));

        let textbox = this.shadowRoot.querySelector("#text");
        let label = this.shadowRoot.querySelector("#label");
        label.innerHTML = this.getAttribute('id').toUpperCase();

        textbox.addEventListener('keyup', () => {
            console.log(textbox.value);
            socket.emit('ex', { id: this.getAttribute('id'), val: textbox.value, fn: "tex" });
        });

        textbox.addEventListener('change', () => {
            console.log(textbox.value);
            //socket.emit('ex', {id: this.getAttribute('id'), val: slider.value, fn: "sli"});
        });


        }
    }

    customElements.define('mc-textbox', mcTextBox);


</script>
<template id="mcTextBox-template">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">

    <div id="label" class="swagLabelSmall">TEXT</div>
    <input type="Text" id="text" autocomplete="off">
</template>









<script>
    class mcColorBox extends HTMLElement {

        constructor() {
        super();
        }

        connectedCallback() {
        let template = document.querySelector('#mcColorBox-template').content;
        this.attachShadow({ mode: 'open' }).appendChild(template.cloneNode(true));

        let colorbox = this.shadowRoot.querySelector("#color");


        }
    }

    customElements.define('mc-colorbox', mcColorBox);

</script>

<template id="mcColorBox-template">

    <style>
        input {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            border: none;
            outline: none;
            -webkit-appearance: none;
        }

        input::-webkit-color-swatch {
            border: none;
            border-radius: 50%;
        }

        input::-webkit-color-swatch-wrapper {
            padding: 0;
        }
    </style>

    <input type="Color" id="color">
</template>

<template id="d3pie-template" value='!!!'>
    <svg id="container" width="100" height="100">
      <circle id="circle" cx="50" cy="50" r="12" style fill="green" />
    </svg>
</template>

<template id="d3bar-template" value='!!!'>
    <svg id="container" style="width: auto">
     
    </svg>
</template>
    