
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WEBGL Linetrace</title>
		<style>
			body { margin: 0; }
		</style>
	</head>
	<body>
    <script src="static/js/three.js"></script>
   
    <script src="https://rawgit.com/mrdoob/three.js/dev/examples/js/controls/OrbitControls.js"></script>
    <script>
      var container, stats, controls;
      var camera, scene, renderer;
      var data = JSON.parse({{data|tojson}});
      var raycaster, mouse;

      init();
      render();




      function init() {

        container = document.createElement('div');
        document.body.appendChild(container);
        camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.25, 20);
        camera.position.set(-5, 0.9, 2.7);
        camera.layers.enable( 1 );
        scene = new THREE.Scene();
        raycaster = new THREE.Raycaster();
        raycaster.layers.set(0);
        mouse = new THREE.Vector2()


/*  //RANDOM CUBES
        const nscale = 0.02;


        const ngeometry = new THREE.BoxGeometry( 1,1,1);
        const nmaterial = new THREE.MeshBasicMaterial( { color:RGB2HTML(255,255,0)} );//"rgb(155, 102, 102)" 
        const cube = new THREE.Mesh( ngeometry, nmaterial );
                        //console.log(data['nodes'][i]["p"]);
        scene.add( cube );
                        //cube.position.set(0, 10, 0);
        cube.position.set(10,0,0); //0x00ff00

        for (let i = 0; i < 1000; i++) {

                const ngeometry = new THREE.BoxGeometry( nscale, nscale, nscale);
                const nmaterial = new THREE.MeshBasicMaterial( { color:RGB2HTML(255,255,0)} );//"rgb(155, 102, 102)" 
                const cube = new THREE.Mesh( ngeometry, nmaterial );
                cube.name = i;
                //console.log(data['nodes'][i]["p"]);
                scene.add( cube );
                //cube.position.set(0, 10, 0);
                cube.position.set(Math.random()*10,Math.random()*10,Math.random()*10); //0x00ff00
        }
*/

// IMPORT NETWORK FROM FLASK

        

        const nscale = .03;
        // Draw Nodes

        for (let i = 0; i < data['nodes'].length; i++) {
        //for (let i = 0; i < 300; i++) {
            const ngeometry = new THREE.BoxGeometry( nscale, nscale, nscale);
            const nmaterial = new THREE.MeshBasicMaterial( { color:RGB2HTML(255,255,0)} );//"rgb(155, 102, 102)" 
            const cube = new THREE.Mesh( ngeometry, nmaterial );
            cube.name = i;
            cube.layers.set(0);
            //console.log(data['nodes'][i]["p"]);
            scene.add( cube );
            //cube.position.set(0, 10, 0);
            cube.position.set(data['nodes'][i]["p"][0],data['nodes'][i]["p"][1],data['nodes'][i]["p"][2]); //0x00ff00
            }

        // Draw Links

        for (let l = 0; l < data['links'].length; l++) {
            const material1 = new THREE.LineBasicMaterial( { color:RGB2HTML(128,0,128) } );
            const points = [];
            const start =  data['links'][l]["s"];
            const end =  data['links'][l]["e"];
            points.push( new THREE.Vector3( data['nodes'][start]["p"][0], data['nodes'][start]["p"][1], data['nodes'][start]["p"][2] ) );
            points.push( new THREE.Vector3( data['nodes'][end]["p"][0], data['nodes'][end]["p"][1], data['nodes'][end]["p"][2] ) );

            const geometry1 = new THREE.BufferGeometry().setFromPoints(points);
            const line = new THREE.Line( geometry1, material1 );
            line.layers.set(1);
            scene.add(line);
        }













        renderer = new THREE.WebGLRenderer({
          antialias: true
        });
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.toneMapping = THREE.ACESFilmicToneMapping;
        renderer.toneMappingExposure = 1;
        renderer.outputEncoding = THREE.sRGBEncoding;
        container.appendChild(renderer.domElement);

        //var pmremGenerator = new THREE.PMREMGenerator(renderer);
        //pmremGenerator.compileEquirectangularShader();

        controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.addEventListener('change', render); // use if there is no animation loop
        //controls.minDistance = 2;
        //controls.maxDistance = 10;
        controls.target.set(0, 0, -0.2);
        controls.update();

        window.addEventListener('resize', onWindowResize, false);

        //renderer.domElement.addEventListener('click', onClick, false);

      }

      function onClick() {

        event.preventDefault();

        mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
        mouse.y = -(event.clientY / window.innerHeight) * 2 + 1;

        raycaster.setFromCamera(mouse, camera);

        var intersects = raycaster.intersectObject(scene, true);

        if (intersects.length > 0) {
        
          var object = intersects[0].object;
          console.log(object.name);
          console.log(data["nodes"][object.name]);

          object.material.color.set( Math.random() * 0xffffff );

        }
        
        render();

      }

      function onWindowResize() {

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize(window.innerWidth, window.innerHeight);
        
        render();

      }


      function render() {

        renderer.render(scene, camera);

      }

      function RGB2HTML(red, green, blue)
      {
        var decColor =0x1000000+ blue + 0x100 * green + 0x10000 *red ;
        return '#'+decColor.toString(16).substr(1);
      }
    </script>

    
</body>
</html>