<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WEBGL Preview</title>
		<style>
			body { margin: 0; }
		</style>
	</head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="static/js/three.js"></script>
    <script src="https://rawgit.com/mrdoob/three.js/dev/examples/js/controls/OrbitControls.js"></script>
	<body>
        <div style="z-index: 2; position: absolute; top: 0; left: 0; color:white" >&nbsp;

            <form action="/GraphfromIMG">
                <input type="submit" value="PROJECTS"   style = "height: 50px;
                width: 180px;"/>
            </form>
            <h1 style = 'font-size: 35px;'>VRNetzer</h1>
            <div style = 'font-size: 30px;'>WebGL PREVIEW</div>
            <h1 id = 'prname'>NAME</h1>
            <div id = 'size'>SIZE</div>
            
            <p></p>
            <div>LAYOUT</div>
            <select id='layouts'></select>
            <div>NODE COLOR</div>
            <select id='layoutsRGB'></select>
            <div>LINK COLOR</div>
            <select id='linksRGB'></select>
            <p></p>
            <input type="submit" value="RELOAD" id="reload"  style = "height: 50px;
            width: 180px;"/>
            <p></p> 
            <div id = 'label' style = 'font-size: 30px;'></div> 
            
        </div>

		<script>
        var mesh, renderer, scene, camera, controls;
        var data = JSON.parse({{data|tojson}});
        var pdata = JSON.parse({{pfile|tojson}});
        console.log(pdata);


        initDropdownNOsocket("layouts", pdata["layouts"]);
        initDropdownNOsocket("layoutsRGB", pdata["layoutsRGB"]);
        initDropdownNOsocket("linksRGB", pdata["linksRGB"]);
        // realod button
        $('#reload').on('click', function () {
            var url = window.location.href.split('&')[0] + '&project=' + pdata["name"] + '&layout=' + $('#layouts option:selected').index() + '&ncol=' + $('#layoutsRGB option:selected').index() + '&lcol=' + $('#linksRGB option:selected').index();
            console.log($('#layouts option:selected').val());
            console.log(url);

            window.location.href = url;
            });


        document.getElementById("prname").innerHTML = pdata["name"];

        init();
        animate();
        rigth();

        function init() {

            // renderer
            renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight );
            document.body.appendChild( renderer.domElement );

            // scene
            scene = new THREE.Scene();


            // camera
            camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 10000 );
            camera.position.set( 20, 0, 0 );
            camera.layers.enable( 1 );// camera shows layers 0 + 1, only 0 (cubes) gets racasted
            raycaster = new THREE.Raycaster();
            mouse = new THREE.Vector2()
            // controls
            controls = new THREE.OrbitControls( camera, renderer.domElement );
            // axes
            scene.add( new THREE.AxesHelper( 20 ) );
            /*
            // ambient
            scene.add( new THREE.AmbientLight( 0x222222 ) );
            
            // light
            var light = new THREE.DirectionalLight( 0xffffff, 1 );
            light.position.set( 20,20, 0 );
            scene.add( light );
            


            // geometry
            var geometry = new THREE.SphereGeometry( 5, 12, 8 );
            
            // material
            var material = new THREE.MeshPhongMaterial( {
                color: 0x00ffff, 
                flatShading: true,
                transparent: true,
                opacity: 0.7,
            } );
            
            // mesh
            mesh = new THREE.Mesh( geometry, material );
            //scene.add( mesh );
*/
           
            //console.log(data);

            const nscale = .01;
            // Draw Nodes
            console.log(data['nodes'][0]['c'][0])
            for (let i = 0; i < data['nodes'].length; i++) {
            //for (let i = 0; i < 300; i++) {
                const ngeometry = new THREE.BoxGeometry( nscale, nscale, nscale);
                const nmaterial = new THREE.MeshBasicMaterial( { color:RGB2HTML(data['nodes'][i]['c'][0],data['nodes'][i]['c'][1],data['nodes'][i]['c'][2])} );//"rgb(155, 102, 102)" 
                const cube = new THREE.Mesh( ngeometry, nmaterial );
                cube.name = i;
                cube.layers.set(0);
                //console.log(data['nodes'][i]["p"]);
                scene.add( cube );
                //cube.position.set(0, 10, 0);
                cube.position.set(data['nodes'][i]["p"][0],data['nodes'][i]["p"][1],data['nodes'][i]["p"][2]); //0x00ff00
                }

            // Draw Links

            for (let l = 0; l < data['links'].length; l++) {
                const material1 = new THREE.LineBasicMaterial( { color:RGB2HTML(data['links'][l]["c"][0],data['links'][l]["c"][1],data['links'][l]["c"][2]) } );
                const points = [];
                const start =  data['links'][l]["s"];
                const end =  data['links'][l]["e"];
                points.push( new THREE.Vector3( data['nodes'][start]["p"][0], data['nodes'][start]["p"][1], data['nodes'][start]["p"][2] ) );
                points.push( new THREE.Vector3( data['nodes'][end]["p"][0], data['nodes'][end]["p"][1], data['nodes'][end]["p"][2] ) );

                const geometry1 = new THREE.BufferGeometry().setFromPoints(points);
                const line = new THREE.Line( geometry1, material1 );
                line.layers.set(1);
                scene.add(line);
                }

            //renderer.render( scene, camera );
            console.log(data["links"].length + " links, " + data["nodes"].length + " nodes" );
            document.getElementById("size").innerHTML = data["links"].length + " LINKS, " + data["nodes"].length + " NODES";
            // camera rotation-> https://jsfiddle.net/8kn4qrz0/

            function RGB2HTML(red, green, blue)
            {
                var decColor =0x1000000+ blue + 0x100 * green + 0x10000 *red ;
                return '#'+decColor.toString(16).substr(1);
            }

            window.addEventListener('resize', onWindowResize, false);

            renderer.domElement.addEventListener('click', onClick, false);
            
        }

        function onClick() {

            event.preventDefault();

            mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
            mouse.y = -(event.clientY / window.innerHeight) * 2 + 1;

            raycaster.setFromCamera(mouse, camera);

            var intersects = raycaster.intersectObject(scene, true); 
             
            if (intersects.length > 0) {
            
                var object = intersects[0].object;
                console.log(data["nodes"][object.name]["n"]);
                object.material.color.set( Math.random() * 0xffffff );
                document.getElementById("label").innerHTML = data["nodes"][object.name]["n"];

            }
            
            //render();

        }

        function onWindowResize() {

            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();

            renderer.setSize(window.innerWidth, window.innerHeight);

            //render();

        }

        function animate() {

            requestAnimationFrame( animate );
            
            //controls.update();

            renderer.render( scene, camera );

        }

        function rigth(){
            camera.position.set(0,0,20);   
            camera.lookAt(0,0,0);
            camera.rotation.z += Math.PI/2
            camera.updateProjectionMatrix();	
        }

        function initDropdownNOsocket (id, data){

            //select = document.getElementById('layouts');

            for (let i = 0; i < data.length; i++) {
            $('#'+ id).append(new Option(data[i]));
            }
           // $('#'+ id).val(0);
           // $('#'+ id).selectmenu("refresh");
           //$('#projects').on('change', function() {
            $('#'+ id).on('change', function () {
            var name =  $('#'+ id).find(':selected').text();
            console.log(name);

            //socket.emit('ex', {id: id, opt: name, fn: "sel"});
            ///logger($('#selectMode').val());
            });

        }
		</script>
        
	</body>
</html>