<!-- PUT YOUR UI ELEMENTS IN HERE AND DEFINE MAPPINGS IN MyUi.js -->

<!-- HTML STARTS HERE -->

<!DOCTYPE html>
<html>


<style>
    input[type='file']
    {
      outline: none;
        
    }
</style>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" -->
  <!-- rel = "stylesheet"> -->
  <!-- <link href="jquery-ui.css" rel="stylesheet"> -->
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/UI_Module_Config.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/upload_UI.js') }}"></script>

</head>

<body>

  <div id="tabsUL"><a href="upload.html" id="" title="upload"></a> <!--upload-->
    <ul>
      <li><a href="#fragment-1"><img draggable="false" onmousedown="return false" height='40' width='40'
        src="{{ url_for('static', filename='img/upload.png') }}" /></a></li>
    </ul>

    <div id="fragment-1">
      <h3 class="lineglow"><span>UPLOAD NEW DATA</span></h3>
      <h4>For filestructure and csv-table composition refer to files in VRNetzer_Backend/static/csv.</h4>

      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Project + Namespace Dropdown
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <div class="twelve columns">
        <div class="four columns">
            <h3 class="lineglowslow"><span>PROJECT</span></h3>
        </div>
        <div class="eight columns">
            <div class="cornerBox">
            <select name="namespaces" id="namespaces">
                      {% for namespace in namespaces %}
                        <option value="{{namespace}}">{{namespace}}</option>
                      {% endfor %}
            </select>
            </div>
        </div>
      </div>  

      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                     Upload Form 
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

      <!-- UNFINISHED !!!!!!!!!!!!!!!!!!!!
      RESHUFFLE elements -->
  
      <form id="upload_form" method=post enctype=multipart/form-data>
          
        <div class="twelve columns">
          <div class="four columns"><br></br></div>  
          <div class="one columns">
            <input type="radio" name="namespace" value="existing" checked ><br>
          </div>  
          <h4 class="seven columns">ADD TO PROJECT</h4><br>
        </div>

        <div class="twelve columns">
          <div class="four columns"><br></br></div>  
          <div class="one columns">
            <input type="radio" name="namespace" id="radio_new_namespace" value="New">
          </div>
          <h4 class="seven columns">CREATE NEW PROJECT</h4><br>
          <input type="text" id="new_namespace_name" name="new_name">
          <p id="submit_warnings"></p>
        </div>

        <div class="twelve columns">
          <h4 class="nine columns">LAYOUTS</h4>
          <input type=file name=layouts multiple>
        
        <!--
        <label>N O D E S</label><br>
        <input type=file name=nodes multiple><br><br>
        -->
        
        <h4 class="nine columns">LINKS</h4>
        <input type=file name=links multiple>

        <!--
        <label>A T T R I B U T E S (optional) </label><br>
        <input type=file name=attributes multiple><br><br>
      
        <label>L A B E L S (optional) </label><br>
        <input type=file name=labels multiple><br><br>
        -->
        </div>

        <div class="twelve columns">
          <div class="three columns"><input type=submit value=Upload  id=upload_button class="swagSubmit"></button> </div>
          <div class="nine columns"><p id="upload_message"></p></div>
        </div>
        

        
        
      </form>
     

         
      </div>


  </div>

    

    
  

  

</body>
