{% include "util_flask_styles.html" %}
{% include "util_scripts.html" %}
<script src="{{ url_for('Util.static', filename='js/highlightTab.js') }}"></script>
<!-- This Tab will be added -->
<div id="tab_to_add" class="container" style="display:none;">
    <div id="util_tab">
        <div class="twelve columns">
            <h2 class="lineglowslow" style="margin-bottom:50px;margin-top:30px">util</h2>
        </div>
        <div class="frameBox">
            <div id="util_highlight" class="twelve columns frameBox" style="margin: 0px;width: 100%;">
                <div style="display: flex; align-items: center;">
                    <label for="vr_checkbox" style="margin-right: 2%;">
                        <h4>Highlight Color</h4>
                    </label>
                    <input type="checkbox" id="util_use_highlight" class="vr_checkbox" style="margin-right:2%;">

                </div>
                <script>
                    initCheckbox("util_use_highlight")
                </script>
                <mc-colorbox id="util_highlight_color" style="margin-left:20%"></mc-colorbox>
            </div>
            <div class="frameBox">
                <div class="twelve columns">
                    <input id="util_highlight_bnt" type="button" value="Highlight selection" class="twelve columns">
                </div>
                <script>
                    initHighlightButton("util_highlight_bnt", "highlight")
                </script>
                <div class="twelve columns">
                    <input id="util_isolate_bnt" type="button" value="Isolate selection" class="twelve columns">
                </div>
                <script>
                    initHighlightButton("util_isolate_bnt", "isolate")
                </script>
                <div class="twelve columns">
                    <input id="util_bipartite_bnt" type="button" value="Bipartite selection" class="twelve columns">
                </div>
                <script>
                    initHighlightButton("util_bipartite_bnt", "bipartite")
                </script>
            </div>
            <div class="twelve columns">
                <div id="util_highlight_sm" class="updateMessage">
                </div>
            </div>
            <div class="frameBox">
                <div id="util_store_highlight" class="twelve columns">
                    <input id="util_store_highlight_btn" type="button" value="Store Highlight" class="twelve columns">
                </div>
                <script>
                    initHighlightButton("util_store_highlight_btn", "store")
                </script>
                <div id="util_reset_selection" class="twelve columns">
                    <input id="util_reset_selection_btn" type="button" value="Reset Highlight" class="twelve columns">
                </div>
                <script>
                    initHighlightButton("util_store_highlight_btn", "reset")
                </script>
            </div>
            {% if "UnrealEngine" not in request.user_agent|string%}
            <div class="frameBox">
                <div id="util_jump_to_tmp" class="twelve columns">
                    <input id="util_jump_to_preview_btn" type="button" value="Preview" class="twelve columns">
                </div>
            </div>
            <script>
                $("#util_jump_to_preview_btn").on("click", function() {
                    base_url = window.location.host
                    console.log(base_url)
                    window.open("/preview?project=tmp", '_blank');
                });
            </script>
            {% endif %}
        </div>

    </div>
</div>

<!--Define the image which will be shown on the tab icon-->
<img id="tab_img" src="{{ url_for('static', filename='img/active_gears.png') }}" style="display: none;" ;>