<!-- <link rel="stylesheet" href="{{ url_for('Util.static', filename='css/utilStyle.css') }}">
</link> -->
<script src="{{ url_for('Util.static', filename='js/socket.js') }}"></script>
<script src="{{ url_for('Util.static', filename='js/highlight_script.js') }}"></script>

<style>
    input.loadingButton[type="button"] {
        background-image: url("{{url_for('static', filename='/img/processing.gif')}}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
    }
</style>
<!-- This Tab will be added -->
<div id="tab_to_add" class="container" style="display:none;">
    <div id="example_tab">
        <div class="twelve columns">
            <h2 class="lineglowslow" style="margin-bottom:50px;margin-top:30px">util</h2>
        </div>
        <div id="util_highlight" class="twelve columns">
            <input id="util_highlight_selection" type="button" value="Highlight selection">
        </div>
    </div>
</div>

<!--Define the image which will be shown on the tab icon-->
<img id="tab_img" src="{{ url_for('static', filename='img/active_gears.png') }}" style="display: none;" ;>